a {
    color: #3b573f
}

h1 {
    color: #3b573f;
    margin-bottom: 0.1em;
    margin-top: 0em;
}

h1, h2, h3 {
    font-family: sans-serif;
}

th {
    font-family: sans-serif;
    text-align: left;
}

#header {
    font-family: sans-serif;
}

.button.selected {
    border-style: inset;
}

:active.button.selected {
    background-color: #c0c0c0;
}

.errors li {
    background-color: #fff0f0;
    list-style-type: none;
}

.buttonform {
    display: inline-block;
}

.feedpost {
    margin: 0.2em;
    padding: 1em;
}

.feedpost .metadata {
    font-family: sans-serif;
    font-size: x-small;
}

.feedpost .feedpost {
    border-left: solid thin #808080;
}

.feedpost .postpart {
    padding-bottom: 0.2em;
    padding-top: 0.3em;
}

.feedpost .smallContact img {
    vertical-align: text-top;
}

.smallContact {
    display: inline-block;
    font-family: sans-serif;
    font-size: small;
}

@media screen {
    html,body {
        margin: 0em;
        padding: 0em;
    }

    h1 {
        background-color: #a2caa8;
        color: black;
        padding: 0.2em;
        padding-left: 1em;
    }

    #header {
        margin-top: 0.5em;
        padding: 0.2em;
        position: absolute;
        right: 1em;
        top: 0em;
    }

    #content {
        padding: 0.4em;
        padding-left: 2em;
        padding-right: 2em;
    }

    #header a {
        color: black;
    }

    .feedpost {
        background-color: #e0e0e0;
    }
}

@media print {
    .button {
        display: none;
    }

    .buttonform {
        display: none;
    }
}

