html,body { margin: 0em; padding: 0em }
h1, h2, h3 { font-family: sans-serif }

h1 { margin-top: 0em }

h1 {
    background-color: #a2caa8;
    padding: 0.2em;
    padding-left: 1em;
    margin-bottom: 0.1em;
}

th { text-align: left; font-family: sans-serif; }

#header { padding: 0.2em; font-family: sans-serif; position: absolute; top: 0em; margin-top: 0.5em; right: 1em }

#header a { color: black }

a { color: #3b573f }

#content { padding: 0.4em; padding-left: 2em; padding-right: 2em }

:active.button.selected {
	background-color: #c0c0c0;
}

.button.selected {
	border-style: inset;
}

.nobullet { list-style-type: none }

.errors li { list-style-type: none; background-color: #fff0f0 }

.buttonform { display: inline-block }

.feedpost { padding: 1em; background-color: #e0e0e0; margin: 0.2em; }

.smallContact { font-size: small; font-family: sans-serif; display: inline-block }

.feedpost .tags { font-size: x-small; font-family: sans-serif }

.feedpost .smallContact img { vertical-align: text-top }

.feedpost .postpart { padding-top: 0.3em; padding-bottom: 0.2em }