h1,h2,h3 { font-family: sans-serif }

th { text-align: left; font-family: sans-serif; }

#header { text-align: right }

.button {
	border: outset medium;
	font-family: sans-serif;
	font-weight: normal;
	font-size: small;
	text-decoration: none;
	color: #8080ff;
	padding: 1px;
}

a:active.button {
	border: inset medium;
	color: #ff8080;
}

.button.selected {
	border: inset medium;
}

.nobullet { list-style-type: none }

.errors li { list-style-type: none; background-color: #fff0f0 }